.db
*.code
Copy*
*.swp
*.swl
*.swk
*.swo
*.scp
*.swm
*.swn
.settings/
ui/patient/*
ui/ueditor/*
wxpay_pub/logs/*
app_huimeibest/cache/*
app_huimeibest/config/*
app_huimeibest/logs/*
app_huimeibest/storage/*
.idea/*
src/JPush/jpush.log

wxpay_pub/pay_lib/config.php
wxpay_pub/WxPayPubHelper/WxPay.pub.config.php
static/new/js/configure.json
static/WMS/js/configure.json
data/*
*~
static/WMS/
