.db
*.code
Copy*
*.swp
*.swl
*.swk
*.swo
*.scp
*.swm
*.swn
*.*~
.settings/
ui/patient/*
ui/images/*
wxpay_pub/logs/*
app_huimeibest/cache/*
app_huimeibest/config/*
app_huimeibest/logs/*
app_huimeibest/storage/*
../.idea/*
.idea/*
app_huimeibest/.idea/
static/new/js/configure.json
app_huimeibest/libraries/JPush/*.log
