.db
*.code
Copy*
*.swp
*.swl
*.swk
*.swo
*.scp
*.swm
*.swn
.settings/
ui/patient/*
wxpay_pub/logs/*
app_huimeibest/cache/*
app_huimeibest/config/*
app_huimeibest/logs/*
app_huimeibest/storage/*

wxpay_pub/pay_lib/config.php
wxpay_pub/WxPayPubHelper/WxPay.pub.config.php
