{% extends "about/layout.html" %}
{% block title %}隐私协议{% endblock %}
{% block content %}
{% raw %}

【找明医隐私条款】<br>
免责声明一法律声明<br>
本法律声明阐述的条款和条件适用于所有使用移动客户端的用户 。 找明医客户端(以下简称“本软件”)。<br>
<br>
版权声明<br>
本软件受«中华人民共和国著作权法»、  «计算机软件保护条例»和相关的国际条约以及其他的法律法规保护, 任何单位和个人未经权利人书面授权不能进行复制、修改、破解、出售、再发布本软件及其任何部分,或对本软件或本软件的任何部分进行反编辑或试图从本软件或本软件的任何部分提取源代码,除非法律法规有强制性的规定或要求。否则对于您的上述行为将视为非法侵害,权利人保留依法追究您法律责任的权利。<br>
<br>
隐私保护声明<br>
1、信息的采集:<br>
1 ) 隐私保护声明是本软件对所有用户个人隐私的承诺, 说明了本软件对于用户个人信息所采取的收集、保存、使用和保护政策。用户的个人隐私,包括您的联系信息,比如姓名、联系电话、有效证件信息、电子邮件地址等,还包括您的工作信息,如工作医院、科室、职称、科室电话、执业证书等。以上信息,可能在您首次申清成为本软件注册用户时要求您提供。<br>
在您的移动设备在接入使用本软件服务时,本软件可能会通过cookies、 webbeacon 或其他方式自动采集包括您所使用的设备情况或使用的软件等在内的技术信息。<br>
3)在您开启设备具有的定位功能并使用本软件上基于位置信息而提供的服务时,本软件将通过GPS或WiFi等方式收集的您的地理位置信息。您可以通过关闭定位功能随时停止本软件对您的地理位置信息的收集 。<br>
4)您在使用本软件提供的相关服务时,经您同意需要上传、 存储的其它信息, 您可以随时<br>
选择不再参与这些服务和(或)删除您在本软件上传的信息。如果您删除任何内容,您将无法再访问该类信息。<br>
<br>
2、信息的使用:<br>
本软件可能将在向您提供服务的过程之中使用所收集的您的信息用于:<br>
1)对收集到的信息进行系统分析和使用,有针对性地为用户提供更优化的服务;<br>
2)为保证在为您提供服务时的安全性,用于对您的身份信息进行验证、 进行必要的安全防范和诈骗监控, 以及进行必要的存储与备份;<br>
3)为您设计、向您推荐和提供适合您的产品和服务;<br>
4)让您参与有关本软件产品和服务的调査;<br>
经您许可,由承担同等保密义务的权利人关联公司或合作的第三方向您提供网络服务。<br>
6)在不透露单个用户隐私资料的前提下,本软件有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br>
<br>
3、信息的保护:<br>
未经您的许可, 本软件保证不对外公开或向第三方提供您的注册资料及您在使用本服务或通过本软件进行相关活动时存储在本软件上的非公开内容, 但下列情况除外:<br>
<br>
1) 用户或用户监护人授权本软件披露的;<br>
2)应用户监:护人的合法要求而提供用户个人身份信息时;<br>
3)根据有关的法律法规要求;<br>
4) 按照政府主管部门的要求;<br>
5)为维护社会公众的利益;<br>
6)为维护iP权利人的合法权益。<br>
<br>
法律责任与争议解决<br>
凡以任何方式登陆本软件或直接、间接使用本软件的用户, 均视为自愿同意接受本软件的声明的约束。<br>
本声明未步及的问题参见中国有关法律法规,当本声明与中国法律法规冲突时,以中国法律法规为准。<br>
若因本软件产生无法通过协商解决的的法律争议, 将交由北京仲裁委员会裁决，不得向人民法院起诉。<br>
本软件的声明以及其修改权、 更新权及最终解释权均归软件权利人所有。<br>

{% endraw %}
{% endblock %}
